<div class="registration">
    <p><%= registration.child.name %></p>
    <p>Morning: <%= registration.attend_morning %></p>
    <p>Afternoon: <%= registration.attend_afternoon %></p>
    <%= link_to "Edit registration", edit_registration_path %>
</div>